#menu{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

#menuLinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2vh;
}

#footer{
    display: flex;
    justify-content: end;
    margin-right: 10vh;
}

.link{
    text-decoration: none;
    color: black;
    transition: 0.3s;
    font-size: 25px;
    font-family: "VT323", monospace;;
}

.link:hover{
    color: blue;
}